---
export async function getStaticPaths() {
  return [
    { params: { tag: "requiz" } },
    { params: { tag: "dailycr4ft" } },
    { params: { tag: "image-to-colors" } },
  ];
}

const { tag } = Astro.params;
---

<h1>Hello maybe we are in {tag}</h1>
