---
import OssuJourney from "../../components/OssuJourney.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-4 xl:mx-24">
    <OssuJourney />
  </div>
</BaseLayout>
