@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Inter", "sans-serif";

  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 0%);
  --color-para-blog: hsl(220 6% 20%);
  --color-link-blog: hsl(226 71% 40%);
  --color-code-blog: hsl(217 91% 60%);

  --color-h-color-1: hsl(14 100% 70%);
  --color-h-color-2: hsl(344 100% 69%);
  --color-h-color-3: hsl(134 100% 70%);
  --color-h-color-4: hsl(74 100% 70%);
  --color-h-color-5: hsl(326 85% 90%);
}

@layer base {
  [data-theme="dark"] {
    --color-background: hsl(0 0% 0%);
    --color-foreground: hsl(0 0% 100%);
    --color-para-blog: hsl(218 11% 65%);
    --color-link-blog: hsl(226 71% 55%);
    --color-code-blog: hsl(217 91% 80%);
    --color-h-color-1: hsl(14 100% 70%);
    --color-h-color-2: hsl(344 100% 69%);
    --color-h-color-3: hsl(134 100% 70%);
    --color-h-color-4: hsl(74 100% 70%);
    --color-h-color-5: hsl(326 85% 90%);
  }
}

.blog {
  @apply text-para-blog bg-background;
}

.blog h1 {
  @apply text-foreground my-8 text-[42px] leading-[52px] tracking-tight capitalize;
}

.blog h2 {
  @apply text-foreground mb-7 text-[32px] leading-10 tracking-tight capitalize;
}

.blog h3 {
  @apply text-foreground mb-4 text-2xl leading-8 tracking-tight capitalize;
}

.blog h4 {
  @apply text-foreground mb-2 text-xl leading-6 tracking-normal;
}

.blog p {
  @apply text-para-blog mb-11 max-w-2xl text-[1.375rem] leading-8 tracking-tight has-[+ol]:mb-2 has-[+ul]:mb-2;
}

.blog ul {
  @apply list-disc;
}

.blog ol {
  @apply mb-8 list-decimal pl-8;
}

.blog li {
  @apply text-xl;
}

.blog a {
  @apply text-link-blog block underline;
}

/*.blog code {
  @apply text-code_blog before:text-code_blog after:text-code_blog relative mx-2 text-base before:absolute before:-top-1 before:-left-2 before:content-['`'] after:absolute after:-top-1 after:-right-2 after:content-['`'];
}*/

.blog ::selection {
  @apply bg-foreground text-background;
}

.blog code::selection {
  @apply bg-code-blog text-foreground;
}

@utility h_color1 {
  @apply text-h-color-1;
}

.blog .h_color2 {
  @apply text-h-color-2;
}

.blog .h_color3 {
  @apply text-h-color-3;
}

.blog .h_color4 {
  @apply text-h-color-4;
}

.blog .h_color5 {
  @apply text-h-color-5;
}
