@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  :root {
    --background: 0 0% 100%;
    /* #FFFFFF */
    --text-foreground: 0 0% 0%;
    /* #000000 */
    --text-para-blog: 220 6% 20%;
    --text-link-blog: 226 71% 40%;
    --text-code-blog: 217 91% 60%;
    --h-color-1: 14 100% 70%;
    --h-color-2: 344 100% 69%;
    --h-color-3: 134 100% 70%;
    --h-color-4: 74 100% 70%;
    --h-color-5: 326 85% 90%;
  }

  .dark {
    --background: 0 0% 0%;
    /* #000000 */
    --text-foreground: 0 0% 100%;
    /* #FFFFFF */
    --text-para-blog: 218 11% 65%;
    --text-link-blog: 226 71% 55%;
    --text-code-blog: 217 91% 80%;
    --h-color-1: 14 100% 70%;
    --h-color-2: 344 100% 69%;
    --h-color-3: 134 100% 70%;
    --h-color-4: 74 100% 70%;
    --h-color-5: 326 85% 90%;
  }
}

.blog {
  @apply bg-background text-para_blog;
}

.blog h1 {
  @apply text-foreground my-8 text-[42px] leading-[52px] tracking-tight capitalize;
}

.blog h2 {
  @apply text-foreground mb-7 text-[32px] leading-10 tracking-tight capitalize;
}

.blog h3 {
  @apply text-foreground mb-4 text-2xl leading-8 tracking-tight capitalize;
}

.blog h4 {
  @apply text-foreground mb-2 text-xl leading-6 tracking-normal;
}

.blog p {
  @apply text-para_blog mb-11 max-w-2xl text-[1.375rem] leading-8 tracking-tight has-[+ol]:mb-2 has-[+ul]:mb-2;
}

.blog ul {
  @apply list-disc;
}

.blog ol {
  @apply mb-8 list-decimal pl-8;
}

.blog li {
  @apply text-xl;
}

.blog a {
  @apply text-link_blog block underline;
}

.blog code {
  @apply text-code_blog before:text-code_blog after:text-code_blog relative mx-2 text-base before:absolute before:-top-1 before:-left-2 before:content-['`'] after:absolute after:-top-1 after:-right-2 after:content-['`'];
}

.blog ::selection {
  @apply bg-foreground text-background;
}

.blog code::selection {
  @apply bg-code_blog text-foreground;
}

.blog .h_color1 {
  @apply text-high_1;
}

.blog .h_color2 {
  @apply text-high_2;
}

.blog .h_color3 {
  @apply text-high_3;
}

.blog .h_color4 {
  @apply text-high_4;
}

.blog .h_color5 {
  @apply text-high_5;
}
