@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --text-foreground: 0 0% 0%;
    --primary: 111 12% 30%;
    --secondary: 171 12% 66%;
    --accent: 197 13% 44%;
  }

  .dark {
    --background: 0 0% 0%;
    --text-primary: 0 0% 100%;
    --primary: 111 13% 70%;
    --secondary: 171 12% 34%;
    --accent: 195 13% 56%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .button_outline {
    @apply border border-black rounded-xl text-base text-[#404040] px-5 py-1;
  }
}
