@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --text-foreground: 0 0% 0%; /* #000000 */
    --accent: 197 13% 44%; /* #637173 */
    --ghost: 218 11% 65%; /* #9CA3AF */
    --ghost-label: 216 12% 84%; /* #D9D9D9 */
    --link: 218 11% 65%; /* #9CA3AF */
    --header: 221 39% 11%; /* #1B2B3A */
    --para: 0 0% 38%; /* #616161 */
    --intro: 0 0% 50%; /* #808080 */
    --txt-outline: 0 0% 25%; /* #B5B5B5 */
    --header_2: 0, 0%, 62%; /* #9F9F9F */
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --text-foreground: 0 0% 100%; /* #FFFFFF */
    --accent: 195 13% 56%; /* #7A8C8E */
    --ghost: 218 11% 65%; /* #9CA3AF */
    --ghost-label: 215 14% 34%; /* #6F6F6F */
    --link: 218 11% 65%; /* #9CA3AF */
    --header: 220 14% 96%; /* #E9F2F5 */
    --para: 0 0% 68%; /* #ADADAD */
    --intro: 0 0% 50%; /* #808080 */
    --txt-outline: 0 0% 85%; /* #D1D1D1 */
    --header_2: 0, 0%, 32%; /* #525252 */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .button_outline {
    @apply rounded-xl border border-foreground px-3 py-1 text-base text-txt_outline md:px-5;
  }
}
@layer utilities {
  .hover_effect {
    @apply transition-[color] duration-300 ease-in-expo;
  }
  .gray_effect {
    @apply transition-all duration-300 ease-in-expo;
  }
}

.maskScroll {
  background-image: linear-gradient(
    to bottom,
    hsl(var(--background)) 50%,
    hsla(var(--background) / 0) 100%
  );
}

.maskScrollBottom {
  background-image: linear-gradient(
    to top,
    hsl(var(--background)) 50%,
    hsla(var(--background) / 0) 100%
  );
}

.expanded .hamburgerNav {
  display: block;
}

/* details[open] summary #arrow_accordion {
  rotate: 180deg;
} */
