---
import ContentJourney from "../components/ContentJourney.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-4 md:mx-24">
    <ContentJourney />
  </div>
</BaseLayout>
