---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="mt-10 px-4">
    <div class="flex h-96 w-full rounded-xl border border-black" id="rainbow">
    </div>
    <button
      class="cursor-pointer rounded-xl border border-black"
      id="sortButton"
    >
      Sort it</button
    >

    <button
      class="cursor-pointer rounded-xl border border-black"
      id="resetButton"
    >
      Reset</button
    >
  </section>
</BaseLayout>

<script src="../scripts/sortRainbow.js"></script>
