---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import SectionBlogPost from "../components/SectionBlogPost.astro";
import SectionProject from "../components/SectionProject.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <BaseLayout>
      <Hero />
      <SectionBlogPost />
      <SectionProject />
    </BaseLayout>
    <script>
      import "../scripts/animation.js";
    </script>
  </body>
</html>
