---
import JourneyTimeline from "../components/JourneyTimeline.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-4 xl:mx-24">
    <JourneyTimeline />
  </div>
</BaseLayout>
