---
const posts = Object.values(
  import.meta.glob("../pages/blog/git*.md", { eager: true }),
);
---

<div
  class="flex-2 max-h-article_height relative overflow-y-scroll border-l border-r border-foreground"
>
  <div class="maskScroll sticky left-0 top-0 z-10 h-12 w-full bg-transparent">
  </div>
  <h4 class="text-2_r px-14 pb-4 font-medium">Articles</h4>
  {
    posts.map((post, index) => (
      <div
        class={`group flex flex-col border-b border-foreground px-16 text-foreground ${index === 0 ? "pt-0" : "pt-16"}`}
      >
        <a class="flex" href={`git_${index}`}>
          <h2 class="hover_effect text-4_r text-ghost font-medium capitalize leading-tight tracking-tight group-hover:text-foreground">
            {post.frontmatter.title}
          </h2>
          <span class="hover_effect text-ghost_label self-start px-4 text-2xl font-medium group-hover:text-foreground">
            0{index + 1}
          </span>
        </a>
      </div>
    ))
  }
  <div
    class="maskScrollBottom sticky bottom-0 left-0 z-10 h-12 w-full bg-transparent"
  >
  </div>
</div>
