---
import { Icon } from "astro-icon/components";

const hamburgerLinks = [
  {
    nameLink: "Journey",
    link: "/timeline/",
  },
  {
    nameLink: "Experiment",
    link: "/experiment/",
  },
];
---

<div
  class="hamburgerNav bg-foreground/20 fixed inset-0 hidden backdrop-blur-sm"
>
</div>
<div
  class="hamburgerNav bg-background text-foreground fixed top-4 right-4 hidden w-full max-w-xs rounded-lg p-6 text-base font-semibold"
>
  <button class="hamburger absolute top-4 right-4">
    <Icon name="close_hamburger-icon" />
  </button>
  <ul class="space-y-6">
    {
      hamburgerLinks.map((el) => (
        <li>
          <a href={el.link}>{el.nameLink}</a>
        </li>
      ))
    }
  </ul>

  <a
    href="https://github.com/skyc4ffe1ne"
    target="_blank"
    class="border-ghost mt-6 border-t pt-6"
  >
    <Icon name="github-icon" />
  </a>
</div>
