---
import { Icon } from "astro-icon/components";

const hamburgerLinks = [
  {
    nameLink: "Blog",
    link: "/blog/",
  },
  {
    nameLink: "About me",
    link: "/about-me/",
  },
  {
    nameLink: "Journey",
    link: "/timeline/",
  },
];
---

<div
  class="hamburgerNav fixed inset-0 hidden bg-foreground/20 backdrop-blur-sm"
>
</div>
<div
  class="hamburgerNav fixed right-4 top-4 hidden w-full max-w-xs rounded-lg bg-background p-6 text-base font-semibold text-foreground"
>
  <button class="hamburger absolute right-4 top-4">
    <Icon name="close_hamburger-icon" />
  </button>
  <ul class="space-y-6">
    {
      hamburgerLinks.map((el) => (
        <li>
          <a href={el.link}>{el.nameLink}</a>
        </li>
      ))
    }
  </ul>

  <a
    href="https://github.com/skyc4ffe1ne"
    target="_blank"
    class="mt-6 border-t border-ghost pt-6"
  >
    <Icon name="github-icon" />
  </a>
</div>
