---
import { Icon } from "astro-icon/components";
---

<header
  class="mx-4 mt-8 border bg-gray-400 h-24 flex justify-between items-center"
>
  <div class="flex-1">
    <Icon name="caffeine" />
  </div>
  <nav class="flex-1 flex justify-center">
    <ul class="flex gap-4">
      <li>
        <a href="/blog/"> Blog</a>
      </li>
      <li><a href="/project/"> Project</a></li>
      <li>
        <a href="/about-me/"> About me </a>
      </li>
    </ul>
  </nav>

  <div class="flex
          flex-1"></div>
</header>
