---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";
import Hamburger from "./Hamburger.astro";
import HamburgerNav from "./HamburgerNav.astro";
const { isBlog } = Astro.props;

const linksNav = [
  {
    nameLink: "Blog",
    link: "/blog/",
  },
  {
    nameLink: "About me",
    link: "/about-me/",
  },
  {
    nameLink: "Journey",
    link: "/timeline/",
  },
];
---

<header class="mx-2 mt-8 flex items-center justify-between lg:mx-4">
  <a href="/" class="!flex flex-1 items-center">
    <Icon name="caffeine" class="text-foreground" />
    <div class="flex h-8 items-start">
      <Icon name="asterisk-icon" />
    </div>
  </a>

  {
    isBlog ? (
      ""
    ) : (
      <nav class="hidden md:flex md:flex-1 md:items-end md:justify-center">
        <ul class="flex gap-8">
          {linksNav.map((el) => (
            <li>
              <a href={el.link} class="text-sm text-link hover:text-foreground">
                {el.nameLink}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }

  {isBlog ? "" : <Hamburger />}
  <div class="ml-2 flex justify-end md:ml-0 md:flex-1">
    <ThemeToggle />
  </div>
</header>

<HamburgerNav />
