---
import { Icon } from "astro-icon/components";
const { isBlog } = Astro.props;
---

<header class="mx-4 mt-8 flex justify-between items-center">
  <a href="/" class="flex-1 flex items-center">
    <Icon name="caffeine" />
    <div class="flex h-8 items-start">
      <Icon name="asterisk-icon" />
    </div>
  </a>

  {
    isBlog ? (
      ""
    ) : (
      <nav class="flex-1 flex justify-center">
        <ul class="flex gap-4">
          <li>
            <a href="/blog/"> Blog</a>
          </li>
          <li>
            <a href="/about-me/"> About me </a>
          </li>
        </ul>
      </nav>
    )
  }
  <a
    class="flex flex-1 justify-end"
    href="https://github.com/skyc4ffe1ne"
    target="_blank"
  >
    <Icon name="github_dark-icon" class="w-6 h-6" />
  </a>
</header>
