---
import { Icon } from "astro-icon/components";
const { title, icon } = Astro.props;
---

<div class="flex justify-end [&:not(:first-child)]:mt-48 first:mt-20">
  <h2 class="text-9xl text-right text-foreground capitalize">{title}</h2>
  <Icon name={icon} class="w-8 h-8" />
  <div class="self-end">
    <Icon name="arrow_accordion" class="w-16 h-16" />
  </div>
</div>
<!--{
  title
}
<Icon name={icon} class="w-8 h-8" />
<div class="self-end">
  <Icon
    name="arrow_accordion"
    id="arrow_accordion"
    class="w-16 h-16 rotate-180"
  />
</div> -->
