<div class="mt-20 px-20">
  <div class="relative h-[50vh] w-full text-gray-400" id="hero_section">
    <h1
      class="text-foreground absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2 text-center text-9xl tracking-tighter text-pretty capitalize"
    >
      Something Here
    </h1>

    <div class="absolute top-0 left-0 z-2 size-8 bg-orange-400" id="box-orange">
    </div>

    <div
      class="absolute top-0 right-0 z-2 size-8 bg-purple-400"
      id="box-purple"
    >
    </div>

    <div class="absolute bottom-0 left-0 z-2 size-8 bg-cyan-400" id="box-cyan">
    </div>

    <div class="absolute right-0 bottom-0 z-2 size-8 bg-red-400" id="box-red">
    </div>

    <div
      class="absolute right-3.5 bottom-8 z-10 w-0.5 bg-linear-to-t from-red-400 to-purple-400"
      id="line"
    >
    </div>

    <div
      class="absolute top-8 left-3.5 z-10 w-0.5 bg-linear-to-b from-orange-400 to-cyan-400"
      id="line"
    >
    </div>

    <div
      class="absolute top-3 right-8 z-10 h-0.5 bg-linear-to-l from-purple-400 to-orange-400"
      id="line_h"
    >
    </div>
    <div
      class="absolute bottom-3 left-8 z-10 h-0.5 bg-linear-to-r from-cyan-400 to-red-400"
      id="line_h"
    >
    </div>
  </div>
</div>
