<div class="mt-20 grid place-content-center px-4 md:px-20">
  <div
    class="contAscii grid h-[70vh] w-full max-w-[720px] place-content-center overflow-hidden border border-black bg-black font-mono text-[6px] leading-none text-white sm:text-[8px]"
  >
  </div>
</div>

<script>
  const asciiArt2 = `
**#*#****#*#%%%#***@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@********--+++--:++-++---*
*****************%@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@***-+:+--+*--+++:++--*-+
*********---***@@@@@@@@@@@@@@@@%**@@@@@@@@@@@@@@@@@@@*#@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@%*%@@@@@@@@@@@@*%@@@@@@@@@@@@@@#*---***-:--+::+-+++:
*****-----*%%@##@@@@@@@@@@@@@@@**%@@@@@@@@@@@@@@@@@**@@@@@@@@@@@@@@@@@@@##@@@@@*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@***##%@@@@@@@@@@@#*****--**--*
**-----------*%@@@%*#**%@@@@@@#**@@@@@@@@@@@@@@@@@##@@@@@@@@@@@@@@@@@@@@**@@@@*@@@@@@@@@@@@@@#@@@@@#%@@@@@@@@@@@@@*%@@@@@#%#**#@@%%##*****************
**----------%@@@@@%***@@@@@@@@#**@@@@@@@@@@@@@@@@@*#@@@#*@@@@@@@@@@@@@@@**@@@*#@@@@@@@@@@@@@@*@@@@@*%@@@@@@@@@@@@@@*@@@@@@*@@**%@@@@@#****************
*---------*@@@**@@%***@*@@@@@@#*#@@@@@@@@@@@@@@@@%*@@@#**@@@@@@@@@@@@@@%**@@@*%@@@@@@@@@@@@@@**@@@@*%@@@@@@@@@@@@@@*@@@@@@@*@%*#@@@@@@@***************
***------%@#**#%@@%**%**@@@@@@#*@@@@@@@@@@@@@@@@@#*@@%**%@@@@@@@@@@@@@@%#*@@#*@@@@@@@@@@@@@@@#*#@@@*%@@@@@@@@@@@@@@*@@@@@@@@*@**@@@@@**@@*-***********
-------*%#****%@@@%****@@@@@@@#*@@@@@@@@@@@@@@@@@*@@@**#@@@@@@@@@@@@@@@%#*%@#*@@@@@@@@@@@@@@@%**@@%*@@@@@@@@@@@@@@@**@@@@@@@%*@*%@@@@****%*-*******---
-------#--***@@@@@%**#@@@@@@@@#*@@@@@@@@@@@@@@@@*#@@**#%@@@@@@@@@@@@@@@%#**@*#@@@@@@@@@@@@@@@@#*%@%*@@@@@@@@@@@@@%*%*@@@@@@@@#***@@@@@**-**%*---------
------*---*#@@@@@@#**@@@@@@@@@**@%#@@@@@@@@@@@@#*@@**#%@@@@@@@@@@@@@@@@@##*@*#@@@@@@@@@@@@@@@@%#*@@*%@@@@@@@@@@@@@*%*@@@@@@@@@%**%@@@@@*-**********-**
----------*@@@@@@@#*@@@@@@@@@@*%@*%@@@@@@@@@@@%*@%**#%@@@@@@@@@@@@@@@@@@%#***#@@@@@@@@@@@@@@@@@##*@*%@@@@@@@@@@@@@*#*@@@@@@@@@@@**%@@@@@**************
---------*@@@@@@@@*%@@@@@*@@@@@@#*#*@@@@@@@@@%*%**##@@@@@@@@@@@@@@@@@@@@@%#***@@@@@@@%%@@@@@@@@@#****@@@@@@@@@@@@@@**%@@@@@@@@@@@@**@@@@@#*****-******
--------*@@@@@@@@*%@@@@@#*@@@@@#*%*@@@@@@@@@@****#@@@@@@@@@@@@@@@@#@@@@@@@%#**@@@@@@@**@@@@@@@@@@#***@@@@@@@@@@@@@@#*#@@@@@@@@@@@@@@**@@@@************
-------*@@@@@@@@*#@%%@@@*#@@@@**@*@@@@@@@@@****%@@@@@@@@@@@@@@@@@*%@@@@@@@@%**%@@@@@@@**@@@@@@@@@@%***@@@@@@@@@@*#@@**%@@@@@@@@@@**@@@**%@@%**********
------*@@@@@@@@**#**%@@@*%@@%**@*#@@@@@@@****@@@@@@@@@@@@@@@@@@@**@@@@@@@@@@%**@@@@@@@@**@@@@@@@@@@@#-*@@@@@@@@@@**@@**%@@@@@@@@@%****#@%#***-********
-----*@@@@@@@#******@@@%*@@#**%*%@@@@@@*-*%@@@@@@@@@@@@@@@@@@@@***@@@@@@@@@@@%*@@@@@@@@%-#@@@@@@@@@@@@**@@@@@@@@@%**#@**%@@@@@@@@@**#####%@@%#********
----*@@@@@******#**%@@@#*%*****@@@@@@@@@@@@@@@@@@@@@@@@%*@@@@#***%@@@@@@@@@@@@@@@@@@@@@***#@@@@@@@@@@@@@%@@@@@@@@@@#***#**@@@@@@@@%*#%@@@@@@@@%#*-****
--*@@#*#@@@@@@@@@*#@@@@******@@@@@@@@@@@@@@@@@@@@@@@@@**@@@#****#@@@@%@@@@@@@@@@@@@@@@******@@@@@@@@@@@@@@@@@@@@@@@@@@%%#*-*@@@@@@@#*%@@@@@@@@@@%#****
******%@@#@@@@@@**@@@@@**-*%@@@@@@@@@@@@@@@@@@@@@@@@@**@@%**%@**#%***%@@@@@@@@@@@@@@@***#%#**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@***@@@%*%@@***@@@@@@@%#*
******---%@@@@@**@@@@*--*@@@@@@@@@@@*@@@@@@@@@#%@@@@**%*----*********@@@@@@@@@@@@@@@%**#@@@#**%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**#***@@**@@%****%@@@@@%
--++---*@@@@@@**@@*****@@@@@@@@@@@@@*@@@@@@@@%*%@@@****%@@@%*******-*@@@@@@@@@@@@@@@*---*------*@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@**#%@@#******#*---------
---+--*@@@@**##**@@#***@@@@@@@@@@@@@*%@@@@@@%**@@@***@@@@@@@@@@%***-*@@@@@@@@@@@@@@**#@@@@@@@@@#*%%*#@@@@@@@@@@@*@@@@@@@@@@@@@@*#%@@@@@@@@@@%*--------
----*@@@@@*%@@@@@@@#***@@@@@@@@@@@@@*%@@@@@%**#@@%*#@@@@@@@@@@@#*##*#@@@@@@@@%@@@@@*#@@@@@@@@@@@@#***@@@@*@@@@@%*@@@@@@@@@@@@@@*#%@@@*@@@@@@@@#---**--
+--%@@@*--*@@@*@@@@%***@@@@@@@@@@@@@*#@@@@%**-@@@#*@@%%##***%@@@@@%*#@@@@@@@@@@@@@**@@@%********#@@#**@@@**@@@@#*@@@@@@@@@@@@@@*#%@@@**@@%****@@******
*##**---+-*@@**@@@@%***@@%@@@@@@@@@@**@@@*****@@@*************%@@@@**@@@@@@@%%@@@@*%@@#***************%@@*#%@@@*@@@@@@@@@@#*@@@*#@@@@%*%@%-------**---
++++------%%**@@@@@%**-@**@@@@@@@@@@#***-*****#@@*@@@@%********%@@@**@@@@@@@%@@@@*#@@#*--*%@@@@@@@@@@@*@***#@@#*@@@@@@@@@@***@@*#@@@@@**%@***---------
:+++++---****@@@@@@%******%@@@@@@@@@%---------*@%+-----***@@%***#@@*%@@@@@@%#@@@%*@@%**%@*----++------**--*-*#*@@@@@@@@@@****@**@@@@*@@**#***********-
+:++:++-***#@@@@@@@%*******@@@@@@@@@@*:  .::::.-%---+:   .:-%@@@@@%*@@@@@@@**@@@*@@@@@@*:...:.:-------*-:....-@@@@@@#@@@@***-****@@@#*@%##************
++++++--**%@@@#@@@@%***-***@@@@@%@@@@%******-***--***-****--+*@@@@*@@@@@@@**%@%*@@@@@#-+--**********--****##*%@@@@@#%@@@****-*****@@@**####**-********
------***%%*-*%@@@@%*******#@@@@%#@@@@**%@@@**###*****#%##****-%@**@@@@@@**#@**@@@@@*-**#**%%#******%%%**@@#*@@@@%*#%@@@**********#@@@*--*###*-------*
:+--***--+:::*@@@@@*-*******@@@@@##@@@@*-*%@@#**#%%%%%#***@@@@@%%*@@@@@%***#*#@@@@@%@@@@@@***%%%%%%%#**%@@%*@@@%#**#@@@******%@@@**@@@%---------------
:::+-+++::::+*@@@@*-********%@@@@#**%@@@*---+--****#**********@@*#@@@@#****%@@@@@@@@@@@%*******#******-----%@%##**#@@@@*-****@@@@%**@@@*--------------
::::+-+:::::+@@@@@--@@%******@@@@%#**#%@@**%#*******#%%%%%%@@@@@*%@@%****#@@@@@@@@@@@@@@@@@@@@***---*--***%%###**#@@@@*******@@@@%-*@@@*--------------
:::::+++++::*@@@@@*-#@@%*****%@@@@#**-******%%%%%%%%%%%%%%@@@@@#*@@#*****%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%**##****#@@@@#******@@@@@--%@@@*--------------
:::::++++::-#@@@@@#**%@@%-****@@@@%***********%%%%%%%%%%%@@@@@@**%*********@*@@@@@@@@@@@@@@@@@@@@@@@@@%********#%@@@%*****-*@@@%-*@@@@@@---------*----
::::::::::-*@@@@#*%#*-%@@%--*-%@@@@***********-*#%%%%%@@@@@@@@%***-********@*@@@@@@@@@@@@@@@@@@@@%%%%*********#%@@%#**%%**%@@@*-*@@%#%@@%-------**-**-
:::::::::-*@@%****#@%***@@@@@%*%@@@%*********#%%%%@@@@@@@@@@@%****@%*******@*@@@@@@@@@@@@@@@@@@@@%%#%%%#*#%***%%###**@@@@@@@%**#%@@%###%@%-------*----
::::::::-##**--+:*#@@@*--%@@@@@#**@@#****%%%%%%%%@@@@@@@@@@@%*-**@@@@%#****@*@@@@@@@@@@@@@@@@@@@%%@@@%%%%%%**#####**@@@@@@@*--*#@@@----**##*----------
::::+::::::::::::*#@@*:::-*@@@@@@-+*%#****%%%%@@@@@@@@@@@@@@@%**@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@%%@%%@%%*####****@@@@@@*****-*@@%-------------------
::::::::::::::::-*%%-++++++-*@@@@@*********%%@@@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%**###**--%@@@@*---------*@@-------------------
:+:::::::::::::+**-+-----+----*##**-*********%@@@@@@@@@@@@@@@@@@@@@@@%%%@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@%********-**-+::+++::++-----%*-++---------------
:::::::::::::+-----******************#%##******%@@@@@@@@@@@@@@@@@@@@@@%#%@@@%%@@@@@@@@@@@@@@@@@@@@@@%***#%#***-*%%@%-:+:::::++--++--*+++++------------
::::::::::::------------------++-*****%%%@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#**#%*#@@@@*+:::::::::-++::::+++::+-----------
::::::::::------------------+++++*#%***%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@@**@#*@@*+::::::::::::+-+:::::::+----------
-----+::+----++-++-+----++---++++-%*@@**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**%@@**@*+++:::::::::::+:::::::::+++-------
*******---------++++++++--+---+::-*@%@#**%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#*#@@@@@**++++:::::::::::::::::::::::++-----
*-----*-----++----++:++++++----+-#**#@%***#@@@@@@@@@@@@@@@@@@@@@@@%**************#@@@@@@@@@@@@@@@@@@@@@@@**#@@@@%#%@#-++:::::::::++::::::::::::++++---
--------**------++++::++++:+-----++*@@@%****@@@@@@@@@@@@@@@@@@@#**%@@@@@@@@@@@@@@@#*-%@@@@@@@@@@@@@@@@@%**#%@@@@#*+-****--+++:::::+:::::::::::::::+---
-------------------+++:++++++++++++%@@@@%****%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*-*#@@@@@@#-++++:::::::::::::+::::::::::::::::+-
----------------------++:++++::::+-@@@@@@@#****%@@@@@@@@@@@@@@@@@@@@@@********@@@@@@@@@@@@@@@@@@@@@@*--##@**@@@@*-++:::::::::::::::::::::::::::::::::+
-----++----------------:::::::::::*@@@@@*-*#***-*@@@@@@@@@@@@@@@@@@@@@@%****#@@@@@@@@@@@@@@@@@@@@@*****%@*--%@@@%-++::::::::::::::::::..::::::::::::::
------+:::+-++++------++:::::::::-%@@@*-:.:*@#*****%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*-***-%@*-++-*@@@#-+:::::::::::::::::::::::::::::::::+
:++-+++++-+++::::::+---+:+::::::-%@*-+::::.:*@*-****-#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*-******%*-++:::--*%@*+:::::::::::::::::::::::::::::::::
::::::::+++++::::::::::::::++:--+:::::::::::-@*-******+*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*-:-*******%*-+:::::+:+++++:+::::::::::::+:::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::.-**-.*******+:-%@@@@@@@@@@@@@@@@@@@@@@@@@@@@%-:.-********@**-+++:::+::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::--------*-.:****+.:*%@@@@@@@@@@@@@@@@@@@@@@*-: .-*********-----++::::+::+:::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::------. :--*******+  :-*@@@@@@@@@@@@@@@@*-:  .-***********------+::::+++::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::++++++++++------.  :**********:    +*#@@@@@@@%#*:    :-*************------+::::++:::::::::::::::::::::::::::::::::::::
-----------------------------------------------------.-*********-.     .:++:.      +***********-----------++++++::::::::::::::::::::::::::::::::::::::
******************************************----------------********-.            .-********-----------------+---+++++++++++++++++++::::++++++++++++++++
*****************************************-----------------------------++:. .::+-----------------------------------------------------------------------
*****************************************-.:----***-----------------------+-----------------------------::********------------------------------------
*****************************************-:::::+--***-----------------------------------------------+:::::**********************----------------------
*****************************************-:::::::++++------------------------------------------+::::::::::***********************************-----****
***************************-********------:::::::++++++++-+------------------------------++:::::::::::::::-----***************************************
**********************************--*****-:::::.+++++++++++:::::::-----------------:::::::::::::::::::::::********-***************--****---***********
***************************-*****--****-+..::::.++++++++++++::::::-----------------::::::::::::::::::::::.+-******************************************
*******************************--*****-::..::::.++++++++++++++:.::-----------------::::::::::::::::::::::.::-********-********************************
******************************-*******-::..::::::+++++++++++++++::-----------------::::::::::::::::::::::.::.-********-*******************************
*******************--******---********-::..:::::.+++++++++++++++++-----------------::::::::::::::::::::::.:::-*********--*****************************
************************----**********+::::::::::::+++++++++++++++-----------------::::::::::::::::::::::::::+**********---***************************
********************------***********-+:::::::::::::++++++++++++++-----------------:::::::::::::::::::..::::::************----************************
*************------****-*************-:::::::..:::::.:++++++++++++-----------------:::::::::::::::::..:::::::.-*****************--**************--****
                                                                                                                                           `;

  const contAscii = document.querySelector(".contAscii");

  const asciiArr = asciiArt2.split("\n");

  asciiArr.map((el) => {
    const innerContAscii = document.createElement("pre");
    innerContAscii.innerHTML = el;
    contAscii.append(innerContAscii);
  });
</script>
