---
import { Icon } from "astro-icon/components";
const ossuContent = [
  { title: "Core Programming", type: "label" },
  {
    title: "Systematic Program Design",
    description:
      " This programming course takes a unique approach, as it focuses on learning a systematic programming method rather than a programming language.",
    link: "/blog/ossu_1",
    type: "card",
  },
  {
    title: "Class-based Program Design",
    description:
      " This corse covers the principles of object oriented program design, examines the relationship between algorithms and data structures and basic techniques for analyzing algorithm complexity.",
    link: "/blog/ossu_1",
    type: "card",
  },
];
---

<main class="mx-auto max-w-208 pt-20">
  <h2 class="rounded-xs text-4_r text-foreground">Ossu</h2>

  <section
    class="relative mx-6 flex flex-col gap-32 border-l border-foreground px-4 pt-20"
  >
    {
      ossuContent.map((el, index) =>
        el.type == "label" ? (
          <div class="test absolute -left-4 top-16 rounded-2xl border border-foreground bg-background px-2 py-0.5">
            0{index + 1}
            <span class="text-sm text-ghost"> Core programming </span>
          </div>
        ) : (
          <a
            href={el.link}
            class={`${index == 1 ? "mt-16" : ""} relative ml-6 rounded-md px-3 py-2`}
          >
            {/* <div class="absolute -left-2 top-2 h-5 w-1 rounded bg-red-400" /> */}
            <div class="absolute -left-10 top-7 h-0.5 w-4 rounded bg-foreground" />
            <h3 class="text-4xl text-foreground">{el.title}</h3>
            <p class="text-txt_journey mb-4 mt-2 line-clamp-2 text-base font-thin tracking-[0.020em]">
              {el.description}
            </p>
            <button class="flex items-center gap-1 text-sm font-medium text-accent">
              See the article
              <Icon name="arrow_link-icon" />
            </button>
          </a>
        ),
      )
    }
  </section>
</main>
