---
const resoursesLinks = [
  {
    nameLink: "The git book",
    link: "https://git-scm.com/book/en/v2",
  },
  {
    nameLink: "The git book",
    link: "https://git-scm.com/book/en/v2",
  },
];
---

<div class="ml-24 mt-12 self-start">
  <h4 class="text-base font-medium">Resources</h4>
  <ul class="flex flex-col gap-2 pt-4">
    {
      resoursesLinks.map((el) => (
        <li>
          <a
            href={el.link}
            class="text-ghost flex items-center whitespace-nowrap text-base hover:text-foreground hover:underline"
            target="_blank"
          >
            {el.nameLink}
          </a>
        </li>
      ))
    }
  </ul>
</div>
