---
import { Icon } from "astro-icon/components";

const contentProjects = [
  {
    icons: ["react-icon", "nextjs-icon", "typescript-icon", "postgresql-icon"],
    titleProject: "re-quiz",
    descr:
      "Is an app where u can upload your notes, and it will create a quiz on that",
  },
  {
    icons: ["react-icon", "nextjs-icon", "typescript-icon", "postgresql-icon"],
    titleProject: "dailycr4ft",
    descr:
      "Is an app where u can upload your books,courses,daily task and it will create a routine on that",
  },
  {
    icons: ["react-icon"],
    titleProject: "image-to-colors",
    descr:
      "Is an app where u can upload a image and it will create a colorscheme",
  },
];
---

<div class="flex items-center justify-center pt-24">
  <div class="flex flex-col gap-20 border-t px-4 pt-24 lg:px-0">
    <h2 class="font-mono text-sm tracking-tighter text-foreground">Projects</h2>
    {
      contentProjects.map((el) => (
        <a
          href={`https://github.com/skyc4ffe1ne/${el.titleProject}/`}
          target="_blank"
          class="group"
        >
          <div class="flex flex-col gap-2 lg:flex-row">
            <div class="flex flex-1 items-end justify-start gap-2 lg:justify-end lg:gap-4">
              {el.icons.map((el) => (
                <Icon
                  name={el}
                  class="gray_effect h-5 w-5 grayscale group-hover:grayscale-0 lg:h-6 lg:w-6"
                />
              ))}
            </div>
            <div class="flex flex-1 items-end justify-start lg:justify-center">
              <h2 class="hover_effect text-header_2 text-4xl font-medium group-hover:text-foreground lg:text-5xl">
                {el.titleProject}
              </h2>
            </div>

            <div class="flex flex-1 items-end justify-start pt-2 lg:justify-center">
              <p class="text-para text-left text-base font-medium leading-6">
                {el.descr}
              </p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
