---
import SectionProjectText from "./ui/SectionProjectText.astro";
import SectionProjectImage from "./ui/SectionProjectImage.astro";
const projects = [
  {
    title: "Color To Palette",
    stack: [
      {
        labelName: "React",
        iconName: "react-icon",
      },
    ],
    description: "A web app that make you to create a palette from an image",
    primaryImg: "/images/color-to-palette_primary.png",
    secondaryImg: "/images/color-to-palette_secondary.png",
    tertiaryImg: "/images/color-to-palette_tertiary.png",
    altPrimaryImg: "showing the app interface of the webapp color to palette",
    altSecondaryImg:
      "showing the app color to palette when an images is loaded",
    altTertiaryImg:
      "showing the app color to palette how the user can export the colors",
    link: "https://skyc4ffe1ne.github.io/image-to-colors.github.io/",
  },
];
---

<section class="mt-20 flex w-full flex-col md:mt-40 md:items-center">
  {
    projects.map((project) => (
      <div class="flex w-full flex-col gap-5 px-3 not-first:mt-10 md:flex-row md:items-center md:justify-between md:gap-8 lg:gap-10">
        <SectionProjectText project={project} />
        <SectionProjectImage project={project} />
      </div>
    ))
  }
</section>
