---
import ListBlog from "./ui/ListBlog.astro";
import ListBlogPreview from "./ui/ListBlogPreview.astro";
import ListBlogWAccordion from "./ui/ListBlogWAccordion.astro";
const data = import.meta.glob("../pages/blog/*.md", { eager: true });
const format_data = Object.values(data).map((post) => {
  return { ...post.frontmatter, url: post.url };
});
---

<!-- lg:pl-3 -->
<section class="mt-20 w-full md:mt-40">
  <div class="mb-20 flex w-full gap-4 px-3 lg:min-h-[50vh]">
    <div class="hidden w-auto flex-2 flex-col gap-4 lg:flex">
      {format_data.map((post) => <ListBlog post={post} />)}
    </div>

    <div class="flex w-full flex-col gap-4 lg:hidden">
      {format_data.map((post) => <ListBlogWAccordion post={post} />)}
    </div>
    <ListBlogPreview data={format_data} />
  </div>
</section>

<script is:inline>
  const postList = document.querySelectorAll(".post-list");
  const contentTitle = document.getElementById("content-title");
  const contentImage = document.getElementById("content-image");
  const contentPreviewTitle = document.getElementById("title-preview");

  postList.forEach((post) => {
    post.addEventListener("mouseenter", () => {
      const title = post.getAttribute("data-title");
      const imageUrl = post.getAttribute("data-image-url");
      const imageAlt = post.getAttribute("data-image-alt");
      const titlePreview = post.getAttribute("data-title-preview");

      contentTitle.textContent = title;
      contentImage.src = imageUrl;
      contentImage.alt = imageAlt;

      contentPreviewTitle.textContent = titlePreview;
    });
  });
</script>
