---
import { Icon } from "astro-icon/components";

const contentProjects = [
  {
    icons: ["react-icon", "nextjs-icon", "typescript-icon", "postgresql-icon"],
    titleProject: "re-quiz",
    descr:
      "Is an app where u can upload your notes, and it will create a quiz on that",
  },
  {
    icons: ["react-icon", "nextjs-icon", "typescript-icon", "postgresql-icon"],
    titleProject: "dailycr4ft",
    descr:
      "Is an app where u can upload your books,courses,daily task and it will create a routine on that",
  },
  {
    icons: ["react-icon"],
    titleProject: "image-to-colors",
    descr:
      "Is an app where u can upload a image and it will create a colorscheme",
  },
];
---

<div class="flex justify-center items-center pt-24 border-l">
  <div class="pt-24 border-t flex flex-col gap-20">
    <h2 class="text-sm text-foreground font-mono tracking-tighter">Projects</h2>
    {
      contentProjects.map((el) => (
        <a
          href={`https://github.com/skyc4ffe1ne/${el.titleProject}/`}
          target="_blank"
          class="group"
        >
          <div class="flex gap-4">
            <div class="flex gap-4 items-end flex-1 justify-end">
              {el.icons.map((el) => (
                <Icon
                  name={el}
                  class="w-6 h-6 grayscale group-hover:grayscale-0 gray_effect"
                />
              ))}
            </div>
            <div class="flex-1 flex items-end justify-center">
              <h2 class="text-[#9F9F9F] hover:text-black text-5xl font-medium hover_effect">
                {el.titleProject}
              </h2>
            </div>

            <div class="flex-1 flex items-end justify-center">
              <p class="text-[#606060] font-medium text-xl leading-6">
                {el.descr}
              </p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
