<section class="">
  <div class="border">
    <h1>Bordify</h1>
    <p class="dark:text-blue-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
      consequuntur.
    </p>
  </div>
</section>
