---
const utilsLinks = [
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
];
---

<div class="ml-16 mt-12 flex-1 self-start">
  <h4 class="text-base font-medium">Utils</h4>
  <ul class="flex flex-col gap-2 pt-4">
    {
      utilsLinks.map((el) => (
        <li>
          <a
            href={el.link}
            target="_blank"
            class="text-ghost flex items-center gap-1 whitespace-nowrap text-base hover:text-foreground hover:underline"
          >
            {el.nameLink}
          </a>
        </li>
      ))
    }
  </ul>
</div>
