---
import { Icon } from "astro-icon/components";

const utilsLinks = [
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
  {
    nameLink: "How to write a commit",
    link: "https://cbea.ms/git-commit/",
  },
];
---

<div class="flex-1 flex flex-col">
  <div class="ml-auto">
    <h4 class="font-medium text-[32px]">Utils</h4>

    <ul class="pt-4 pl-4 flex flex-col gap-4">
      {
        utilsLinks.map((el) => (
          <li>
            <a
              href={el.link}
              target="_blank"
              class="text-xl text-gray-600 flex items-center gap-1 hover:text-foreground"
            >
              {el.nameLink} <Icon name="arrow_link" class="text-foreground" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
