---
import Star from "./Star.astro";

const { data: format_data } = Astro.props;
---

<div
  class="content-list border-foreground hidden w-full flex-1 flex-col border-l px-4 perspective-distant lg:flex"
>
  <header>
    <h3 class="text-sm font-semibold tracking-wide uppercase">Posts</h3>

    <h3 id="title-preview" class="pt-6 text-3xl font-semibold">
      How i understood and learned git
    </h3>
    <div class="flex items-center pt-3">
      {
        Array.from({ length: 4 }, (_) => (
          <Star class="fill-foreground stroke-background size-4" />
        ))
      }

      <Star class="stroke-background size-4 fill-gray-300 dark:fill-gray-700" />
    </div>
  </header>

  <div class="mt-auto rounded-md border-2 border-gray-300 py-4">
    <h2 class="text-center text-4xl tracking-tighter" id="content-title">
      {format_data[0].title}
    </h2>

    <div class="flex h-36 justify-center">
      <img
        src={format_data[0].image.url}
        alt={format_data[0].image.alt}
        class="h-full w-auto"
        id="content-image"
      />
    </div>
  </div>
</div>
