<section class="mt-10 px-4">
  <h2 class="border-foreground border-b text-6xl text-pretty">Maze</h2>

  <div class="flex pt-4">
    <div class="border-foreground border-r pr-4">
      <p class="mb-4 max-w-96 text-xl">
        Uses something, and got the current path for solve the maze if it is
        solvable
      </p>

      <button
        class="border-foreground bg-foreground cursor-pointer rounded-xl border px-[1em] py-[0.1em] text-base text-white dark:text-black"
        id="solveMazeButton"
      >
        Solve maze</button
      >
      <button
        class="border-foreground cursor-pointer rounded-xl border px-[1em] py-[0.1em] text-base"
        id="resetMazeButton"
      >
        Reset</button
      >
    </div>

    <div class="pl-4">
      <div
        class="grid h-64 w-full max-w-2xl grid-cols-[repeat(5,minmax(50px,100px))] overflow-hidden rounded-xl border border-black p-1"
        id="maze"
      >
      </div>
    </div>
  </div>
</section>
