---
const { project } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div
  class="border-foreground flex items-end justify-between gap-2 border-b md:justify-start md:gap-4 lg:gap-20"
>
  <h3 class="text-2xl font-medium tracking-tight text-nowrap md:text-4xl">
    {project.title}
  </h3>
  <div class="flex gap-4">
    {
      project.stack.map((st) => (
        <div class="flex items-center gap-1">
          <Icon name={st.iconName} class="size-3.5" />
          <span class="text-sm/5 text-gray-600 dark:text-white/60">
            {" "}
            {st.labelName}{" "}
          </span>
        </div>
      ))
    }
  </div>
</div>
